@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This site was created by and for <a class="text-black" href="https://github.com/LetsGoRidePandas">Michael Gagnon (LetsGoRidePandas)</a> as practice material. Not for actual use</p>
